{% extends 'parent/base.html' %}
{% load static %}
{% block title %}Your orders{% endblock %}
{% block content %}
    <h2>List of your orders</h2>
    <table style="border: 1px black solid">
        <thead>
        <tr>
            <th>number of order</th>
            <th>date of order</th>
            <th>status of order</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td><a href="{% url 'order:order_detail' order.id %}">{{ order.id }}</a></td>
                <td>{{ order.created }}</td>
                {% if order.paid %}
                    <td>Success</td>
                {% else %}
                    <td>Failed</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
